<template>
    <require from="../../components/alert"></require>

    <alert alert-data.bind="_alert"></alert>

    <h1>Create Restaurant</h1>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form submit.trigger="onSubmit($event)">
                <div class="form-group">
                    <label class="control-label" for="Name">Name</label>
                    <input class="form-control" type="text" id="Name" maxlength="64" value.bind="_name" />
                </div>
                <div class="form-group">
                    <label class="control-label" for="Description">Description</label>
                    <input class="form-control" type="text" id="Description" maxlength="64" value.bind="_Description" />
                </div>
                <div class="form-group">
                    <label class="control-label" for="Telephone">Telephone</label>
                    <input class="form-control" type="text" id="Telephone" maxlength="64" value.bind="_Telephone" />
                </div>
                <div class="form-group">
                    <label class="control-label" for="Telephone">Address</label>
                    <input class="form-control" type="text" id="Address" maxlength="64" value.bind="_Address" />
                </div>
                <div class="form-group">
                    <label class="control-label" for="Telephone">Image</label>
                    <input  class="form-control" type="text" id="image" value.bind="_image" />
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a route-href="route: restaurants-index; params.bind: { }">Back to List</a>
    </div>

</template>
