<template>
    <require from="../../components/alert"></require>

    <alert alert-data.bind="_alert"></alert>

    <h1>Delete</h1>

    <h3>Are you sure you want to delete this restaurant?</h3>
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Name
            </dt>
            <dd class="col-sm-10">
                ${_restaurant.name}
            </dd>
            <dt class="col-sm-2">
                Description
            </dt>
            <dd class="col-sm-10">
                ${_restaurant.description}
            </dd>
            <dt class="col-sm-2">
                Telephone
            </dt>
            <dd class="col-sm-10">
                ${_restaurant.telephone}
            </dd>
            <dt class="col-sm-2">
                Address
            </dt>
            <dd class="col-sm-10">
                ${_restaurant.address}
            </dd>
            <dt class="col-sm-2">
                City
            </dt>
            <dd class="col-sm-10">
                ${_restaurant.city}
            </dd>
            <dt class="col-sm-2">
                ReviewCount
            </dt>
            <dd class="col-sm-10">
                ${_restaurant.reviewCount}
            </dd>
        </dl>

        <form submit.trigger="onSubmit($event)">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a route-href="route: restaurants-index; params.bind: { }">Back to List</a>
        </form>

    </div>
</template>
