<template>
    <h1>Restaurant Details</h1>
    <div>
        <hr/>
        <dl class="row">
            <dt class="col-sm-2">
                Name
            </dt>
            <dd class="col-sm-10">
                ${_restaurant.name}
            </dd>
            <dt class="col-sm-2">
                Description
            </dt>
            <dd class="col-sm-10">
                ${_restaurant.description}
            </dd>
            <dt class="col-sm-2">
                Telephone
            </dt>
            <dd class="col-sm-10">
                ${_restaurant.telephone}
            </dd>
            <dt class="col-sm-2">
                Address
            </dt>
            <dd class="col-sm-10">
                ${_restaurant.address}
            </dd>
            <dt class="col-sm-2">
                ReviewCount
            </dt>
            <dd class="col-sm-10">
                ${_restaurant.reviewCount}
            </dd>
        </dl>
    </div>
    <div>
        <a route-href="route: restaurants-edit; params.bind: { id : _restaurant.id }">Edit</a> |
        <a route-href="route: restaurants-index; params.bind: { }">Back to List</a>
    </div>

</template>
