<template>
    <require from="../../components/alert"></require>

    <alert alert-data.bind="_alert"></alert>

    <h1>Edit Restaurant</h1>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form submit.trigger="onSubmit($event)">
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <input class="form-control" type="text" id="name" maxlength="64"
                           value.bind="_restaurant.name" />
                </div>
                <div class="form-group">
                    <label class="control-label" for="Description">Description</label>
                    <input class="form-control" type="text" id="Description" maxlength="64"
                           value.bind="_restaurant.description" />
                </div>
                <div class="form-group">
                    <label class="control-label" for="Telephone">Telephone</label>
                    <input class="form-control" type="text" id="Telephone" maxlength="64"
                           value.bind="_restaurant.telephone" />
                </div>
                <div class="form-group">
                    <label class="control-label" for="Address">Address</label>
                    <input class="form-control" type="text" id="Address" maxlength="64"
                           value.bind="_restaurant.address" />
                </div>
                <div class="form-group">
                    <label class="control-label" for="Address">Image</label>
                    <input class="form-control" type="text" id="image" maxlength="64"
                           value.bind="_restaurant.image" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a route-href="route: restaurants-index; params.bind: { }">Back to List</a>
    </div>

</template>
