<template>
    <require from="../../components/alert"></require>

    <alert alert-data.bind="_alert"></alert>

    <h1>Index Restaurants</h1>

    <p>
        <a route-href="route: restaurants-create; params.bind: {}">Create New</a>
    </p>

    <table class="table">
        <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Telephone
            </th>
            <th>
                Address
            </th>
            <th>
                ReviewCount
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr repeat.for="restaurant of _restaurants">
            <td>
                ${restaurant.name}
            </td>
            <td>
                ${restaurant.description}
            </td>
            <td>
                ${restaurant.telephone}
            </td>
            <td>
                ${restaurant.address}
            </td>
            <td>
                ${restaurant.reviewCount}
            </td>
            <td>
                <a route-href="route: restaurants-edit; params.bind: { id: restaurant.id }">Edit</a> |
                <a route-href="route: restaurants-details; params.bind: { id: restaurant.id }">Details</a> |
                <a route-href="route: restaurants-delete; params.bind: { id: restaurant.id }">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</template>
