<template>
    <require from="../../components/alert"></require>

    <alert alert-data.bind="_alert"></alert>

    <h1>Food categories</h1>


    <p>
        <a route-href="route: foodCategories-create; params.bind: {}">Create New</a>
    </p>

    <table class="table">
        <thead>
        <tr>
            <th>
                Category
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr repeat.for="category of _foodCategories">
            <td>
                ${category.category}
            </td>
            <td>
                <a route-href="route: foodCategories-edit; params.bind: { id: category.id }">Edit</a> |
                <a route-href="route: foodCategories-details; params.bind: { id: category.id }">Details</a> |
                <a route-href="route: foodCategories-delete; params.bind: { id: category.id }">Delete</a>
            </td>

        </tr>
        </tbody>
    </table>
</template>
