<template>
    <h1>Drink Category Details</h1>
    <div>
        <hr/>
        <dl class="row">
            <dt class="col-sm-2">
                Category
            </dt>
            <dd class="col-sm-10">
                ${_category.category}
            </dd>
        </dl>
    </div>
    <div>
        <a route-href="route: drinkCategories-edit; params.bind: { id : _category.id }">Edit</a> |
        <a route-href="route: drinkCategories-index; params.bind: { }">Back to List</a>
    </div>

</template>
