<template>
    <require from="../../components/alert"></require>

    <alert alert-data.bind="_alert"></alert>

    <h1>Edit Drink Category</h1>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form submit.trigger="onSubmit($event)">
                <div class="form-group">
                    <label class="control-label" for="category">Category</label>
                    <input class="form-control" type="text" id="category" maxlength="64"
                           value.bind="_category.category" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a route-href="route: drinkCategories-index; params.bind: { }">Back to List</a>
    </div>

</template>
