<template>
    <v-app id="app">
        <v-content>
            <nav-bar></nav-bar>
            <transition name="fade">
                <router-view></router-view>
            </transition>
        </v-content>
    </v-app>
</template>
<script lang="ts">
    import { Component, Vue } from "vue-property-decorator";

    @Component({
        components: {
            'nav-bar': () => import('@/components/Navbar.vue')
        }
    })
    export default class App extends Vue {
    }
</script>
<style>
    .fade-enter-active, .fade-leave-active {
        transition-property: opacity;
        transition-duration: .25s;
    }

    .fade-enter-active {
        transition-delay: .25s;
    }

    .fade-enter, .fade-leave-active {
        opacity: 0
    }
    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
    }
</style>
