<template>
    <v-content class="teal accent-4" style="height: 100%">
        <order-page></order-page>
    </v-content>
</template>
<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator'

    @Component({
        components: {
            'order-page': () => import('@/components/OrderPage.vue')
        }
    })
    export default class OrdersIndex extends Vue {
    }
</script>
