<template>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" href="/">WebApp</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul if.bind="appState.jwt == null" class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-dark"
                               route-href="route: account-register; params.bind: {}">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark"
                               route-href="route: account-login; params.bind: {}">Login</a>
                        </li>
                    </ul>

                    <ul if.bind="appState.jwt != null" class="navbar-nav" >
                        <li class="nav-item">
                            <a class="nav-link text-dark"
                               href="#" click.delegate="logoutOnClick()">Logout</a>
                        </li>
                    </ul>

                    <ul class="navbar-nav flex-grow-1">
                        <li repeat.for="nav of router.navigation" class="nav-item ${nav.isActive ? 'active' : ''}">
                            <a class="nav-link text-dark" href.bind="nav.href">${nav.title}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main">

            <router-view></router-view>

        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - WebApp Privacy</a>
        </div>
    </footer>
</template>
