<template>
    <v-content style="background: mediumaquamarine; height: 100%">
    <v-container class="mt-5">
        <v-layout class="mt-5" style="place-content: center">
            <v-flex xs9 xl7 :offset-xs1="$vuetify.breakpoint.xlOnly">
                <v-card class="elevation-5">
                    <v-toolbar flat dense class="teal accent-5" dark>
                        <v-toolbar-title style="place-content: center" class=" font-weight-bold">Deliveries Info</v-toolbar-title>
                    </v-toolbar>
                    <v-tabs
                        v-model="tabDelivery"
                        background-color="teal accent-5"
                        dark
                        grow
                        show-arrows
                        center-active
                    >
                        <v-tab>
                            Free
                        </v-tab>
                        <v-tab>
                            Yours
                        </v-tab>
                    </v-tabs>
                    <v-tabs-items v-model="tabDelivery" style="height:450px;overscroll-behavior-y: contain;background: darkcyan" class="overflow-y-auto overflow-x-auto">
                        <v-tab-item>
                            <v-container>
                                <v-row dense>
                                    <v-col cols="12" v-for="item2 in Deliveries[0]" :key="item2.id">
                                        <v-card flat color="teal accent-4">
                                            <div class="d-flex flex-no-wrap">
                                                <div style="width: 50%">
                                                    <v-card-title class="white--text">{{ item2.restaurantName }}
                                                    </v-card-title>
                                                    <v-card-subtitle class="text-left white--text">
                                                        Address: <b>{{item2.restaurantAddress}}</b>
                                                        <br>
                                                        Telephone: <b>{{item2.restaurantPhone}}</b>
                                                    </v-card-subtitle>
                                                    <v-card-actions class="mt-0">
                                                        <v-btn color="white" @click="takeOrder(item2)">
                                                            take order
                                                        </v-btn>
                                                    </v-card-actions>
                                                </div>
                                                <div style="width: 50%">
                                                    <v-card-title class="white--text">Order details
                                                            <v-btn color="white" style="outline: none" icon @click="select(item2.foodItems.concat(item2.drinkItems))">
                                                                <v-icon>mdi-arrow-down</v-icon>
                                                            </v-btn>
                                                    </v-card-title>
                                                    <v-card-subtitle class="text-left white--text">
                                                        Address: <b>{{item2.street}}</b>
                                                        <br>
                                                        Apartment number: <b>{{item2.apartmentNumber}}</b>
                                                        <br>
                                                        Postcode: <b>{{item2.postcode}}</b>
                                                        <br>
                                                        Client name: <b>{{item2.userName}}</b>
                                                        <br>
                                                        Client telephone: <b>{{item2.userPhone}}</b>
                                                    </v-card-subtitle>
                                                </div>
                                            </div>
                                        </v-card>
                                    </v-col>
                                </v-row>
                            </v-container>
                        </v-tab-item>
                        <v-tab-item>
                            <v-container>
                                <v-row dense>
                                    <v-col cols="12" v-for="item2 in Deliveries[1]" :key="item2.id">
                                        <v-card flat color="teal accent-4">
                                            <div class="d-flex flex-no-wrap">
                                                <div style="width: 50%">
                                                    <v-card-title class="white--text">{{ item2.restaurantName }}
                                                    </v-card-title>
                                                    <v-card-subtitle class="text-left white--text">
                                                        Address: <b>{{item2.restaurantAddress}}</b>
                                                        <br>
                                                        Telephone: <b>{{item2.restaurantPhone}}</b>
                                                    </v-card-subtitle>
                                                    <v-card-actions class="mt-0">
                                                        <v-btn color="white" @click="deliverOrder(item2)">
                                                            Delivered
                                                        </v-btn>
                                                    </v-card-actions>
                                                </div>
                                                <div style="width: 50%">
                                                    <v-card-title class="white--text">Order details
                                                        <v-btn color="white" style="outline: none" icon @click="select(item2.foodItems.concat(item2.drinkItems))">
                                                            <v-icon>mdi-arrow-down</v-icon>
                                                        </v-btn>
                                                    </v-card-title>
                                                    <v-card-subtitle class="text-left white--text">
                                                        Address: <b>{{item2.street}}</b>
                                                        <br>
                                                        Apartment number: <b>{{item2.apartmentNumber}}</b>
                                                        <br>
                                                        Postcode: <b>{{item2.postcode}}</b>
                                                        <br>
                                                        Client name: <b>{{item2.userName}}</b>
                                                        <br>
                                                        Client telephone: <b>{{item2.userPhone}}</b>
                                                    </v-card-subtitle>
                                                </div>
                                            </div>
                                        </v-card>
                                    </v-col>
                                </v-row>
                            </v-container>
                        </v-tab-item>
                    </v-tabs-items>
                </v-card>
            </v-flex>
        </v-layout>
        <v-dialog width="350"
                  v-model="dialog">
            <v-card style="overflow-x: hidden">
                <v-card-title style="place-content: center">Ordered food</v-card-title>
                <v-row style="text-align: justify">
                    <v-col cols="12" class="ml-4" v-for="item in currentlySelected" :key="item.id">
                        <div>{{item.itemName}} x{{item.quantity}}</div>
                    </v-col>
                </v-row>
            </v-card>
        </v-dialog>
    </v-container>
    </v-content>
</template>

<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator'
    import { DeliveryApi } from "@/services/DeliveryApi";
    import { IDeliveryDTO } from "@/domain/IDeliveryDTO";
    import { IDeliveryItemDTO } from "@/domain/IDeliveryItemDTO";
    import JwtDecode from "jwt-decode";
    @Component
    export default class DeliveryIndex extends Vue {
        private tabDelivery: any = null;
        private dialog = false
        private Deliveries: IDeliveryDTO[][] = []
        private currentlySelected = {} as IDeliveryItemDTO[]

        get userId(): string {
            if (this.$store.state.jwt) {
                const decoded = JwtDecode(localStorage.getItem('jwt')!) as Record<string, string>;
                return decoded["http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier"];
            }
            return 'null';
        }

        select(item: any): void {
            this.dialog = true;
            this.currentlySelected = item
        }

        async deliverOrder(item: IDeliveryDTO) {
            await DeliveryApi.takeOrder(item.id).then(async () => {
                await DeliveryApi.getAll().then(response => {
                    this.Deliveries = []
                    this.Deliveries.push(response)
                })
                await DeliveryApi.getAllByUser(this.userId).then(response => {
                    this.Deliveries.push(response)
                })
            })
        }

        async takeOrder(item: IDeliveryDTO) {
            await DeliveryApi.takeOrder(item.id).then(async () => {
                await DeliveryApi.getAll().then(response => {
                    this.Deliveries = []
                    this.Deliveries.push(response)
                })
                await DeliveryApi.getAllByUser(this.userId).then(response => {
                    this.Deliveries.push(response)
                })
            })
        }

        async created() {
            await DeliveryApi.getAll().then(response => {
                this.Deliveries.push(response)
            })
            await DeliveryApi.getAllByUser(this.userId).then(response => {
                this.Deliveries.push(response)
            })
        }
    }
</script>

<style scoped>

</style>
