<template>
    <v-app>
        <v-content>
            <v-img style="height: 100%;" :src="require('@/assets/thumb-1920-988128(1).jpg')">
                <v-window continuous v-model="step" :touchless="true">
                    <v-window-item :value="1">
                        <v-row>
                            <v-col cols="12" md="12" v-for="item in restaurants" :key="item.id">
                                <v-card class="d-inline-block mx-auto mt-5">
                                    <v-container style="padding-bottom: 0; padding-top: 0">
                                        <v-row style="margin: -12px -30px;">
                                            <v-col style="flex: 1 0 auto;width: auto;max-width: 100%;">
                                                <v-img height="100%" width="100%" max-width="361px" max-height="267px"
                                                       v-bind:src="item.image"></v-img>
                                            </v-col>
                                            <v-col cols="auto" style="flex: 1 0 auto;">
                                                <v-card-title>{{item.name}}</v-card-title>
                                                <v-card-text
                                                    style="max-width:200px;max-height: 200px; text-align: left">
                                                    {{item.description}}
                                                </v-card-text>
                                                <v-card-text>
                                                    <v-row align="center" class="mx-0">
                                                        <v-rating
                                                            readonly
                                                            :value="item.rating"
                                                            color="amber"
                                                            dense
                                                            half-increments
                                                            size="14">
                                                        </v-rating>
                                                        <div class="grey--text ml-4">{{item.rating}}
                                                            ({{item.reviewCount}})
                                                        </div>
                                                    </v-row>
                                                </v-card-text>
                                                <v-divider class="mx-4"></v-divider>
                                                <v-card-actions>
                                                    <v-btn color="deep-purple lighten-2" text
                                                           @click="menuOfRestaurant(item)">
                                                        Order
                                                    </v-btn>
                                                    <v-spacer></v-spacer>
                                                    <router-link v-bind:to="reviewsOfRestaurant(item.id)">
                                                        <v-btn color="deep-purple lighten-2" text>
                                                            Get reviews
                                                        </v-btn>
                                                    </router-link>
                                                </v-card-actions>
                                            </v-col>
                                        </v-row>
                                    </v-container>
                                </v-card>
                            </v-col>
                        </v-row>
                    </v-window-item>
                    <v-window-item :value="2">
                        <v-container grid-list-xl>
                            <v-layout column class="mt-5">
                                <v-flex xs6 xl5 :offset-xs1="$vuetify.breakpoint.xlOnly">
                                    <v-card class="teal accent-5">
                                        <v-row class="pa-3 pl-5 pr-5">
                                            <v-btn color="white" class="ml-2" style="color:#008080" @click="clearOrder">
                                                Go back
                                            </v-btn>
                                            <v-spacer></v-spacer>
                                            <span style="color: white; margin-top: 5px">Order price: {{this.orderPrice}} €</span>
                                            <v-spacer></v-spacer>
                                            <v-btn color="white"  class="mr-2" style="color:#008080" @click=validation>
                                                Continue
                                            </v-btn>
                                        </v-row>
                                    </v-card>
                                </v-flex>
                            </v-layout>
                            <v-layout v-bind="binding" class="mt-5">
                                <v-flex xs6 xl5 :offset-xs1="$vuetify.breakpoint.xlOnly">
                                    <v-card class="elevation-5">
                                        <v-toolbar flat dense class="teal accent-5" dark>
                                            <v-toolbar-title class=" font-weight-bold">Food</v-toolbar-title>
                                        </v-toolbar>
                                        <v-tabs
                                            v-model="tabFood"
                                            background-color="teal accent-4"
                                            dark
                                            grow
                                            show-arrows
                                            center-active
                                        >
                                            <v-tab v-for="item in this.foodCategories" :key="item.id">
                                                {{ item.category }}
                                            </v-tab>
                                        </v-tabs>
                                        <v-tabs-items v-model="tabFood"
                                                      style="height:450px;overscroll-behavior-y: contain;background: darkcyan"
                                                      class="overflow-y-auto">
                                            <v-tab-item v-for="item in foodInCategory" :key="item.tab">
                                                <v-container>
                                                    <v-row dense>
                                                        <v-col cols="12" v-for="item2 in item" :key="item2.id">
                                                            <v-card flat color="teal accent-4">
                                                                <div class="d-flex flex-no-wrap justify-space-between">
                                                                    <div>
                                                                        <v-card-title class="white--text">{{ item2.name
                                                                            }}
                                                                        </v-card-title>
                                                                        <v-card-subtitle class="text-left white--text">
                                                                            Price: <b>{{item2.price}}</b>
                                                                        </v-card-subtitle>
                                                                        <v-card-actions>
                                                                            <v-btn color="white" icon
                                                                                   @click="addFood(item2)">
                                                                                <v-icon>mdi-plus</v-icon>
                                                                            </v-btn>
                                                                            <v-btn text disabled
                                                                                   style="color: white !important;">
                                                                                {{getIFoodCount(item2.id)}}
                                                                            </v-btn>
                                                                            <v-btn color="white" icon
                                                                                   @click="removeFood(item2)">
                                                                                <v-icon>mdi-minus</v-icon>
                                                                            </v-btn>
                                                                        </v-card-actions>
                                                                    </div>
                                                                </div>
                                                            </v-card>
                                                        </v-col>
                                                    </v-row>
                                                </v-container>
                                            </v-tab-item>
                                        </v-tabs-items>
                                    </v-card>
                                </v-flex>
                                <v-flex xs6 xl5 :offset-xs1="$vuetify.breakpoint.xlOnly">
                                    <v-card class="elevation-5">
                                        <v-toolbar flat dense class="teal accent-5" dark>
                                            <v-toolbar-title class=" font-weight-bold">Drink</v-toolbar-title>
                                        </v-toolbar>
                                        <v-tabs
                                            v-model="tabDrink"
                                            background-color="teal accent-4"
                                            dark
                                            grow
                                            show-arrows
                                            center-active
                                        >
                                            <v-tab v-for="item in this.drinkCategories" :key="item.id">
                                                {{ item.category }}
                                            </v-tab>
                                        </v-tabs>
                                        <v-tabs-items v-model="tabDrink"
                                                      style="height:450px;overscroll-behavior-y: contain;background: darkcyan"
                                                      class="overflow-y-auto">
                                            <v-tab-item v-for="item in drinkInCategory" :key="item.tab">
                                                <v-container>
                                                    <v-row dense>
                                                        <v-col cols="12" v-for="item2 in item" :key="item2.id">
                                                            <v-card flat color="teal accent-4">
                                                                <div class="d-flex flex-no-wrap justify-space-between">
                                                                    <div>
                                                                        <v-card-title class="white--text">{{ item2.name
                                                                            }}
                                                                        </v-card-title>
                                                                        <v-card-subtitle class="text-left white--text">
                                                                            Price: <b>{{item2.price}}</b>
                                                                        </v-card-subtitle>
                                                                        <v-card-actions>
                                                                            <v-btn color="white" icon
                                                                                   @click="addDrink(item2)">
                                                                                <v-icon>mdi-plus</v-icon>
                                                                            </v-btn>
                                                                            <v-btn text disabled
                                                                                   style="color: white !important;">
                                                                                {{getDrinkCount(item2.id)}}
                                                                            </v-btn>
                                                                            <v-btn color="white" icon
                                                                                   @click="removeDrink(item2)">
                                                                                <v-icon>mdi-minus</v-icon>
                                                                            </v-btn>
                                                                        </v-card-actions>
                                                                    </div>
                                                                </div>
                                                            </v-card>
                                                        </v-col>
                                                    </v-row>
                                                </v-container>
                                            </v-tab-item>
                                        </v-tabs-items>
                                    </v-card>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-window-item>
                    <v-window-item :value="3">
                        <v-container class="mt-10" fluid>
                            <v-row align="center" justify="center" class="pb-0">
                                <v-col cols="12" sm="8" md="8">
                                    <v-card class="elevation-12" color="teal accent-4">
                                        <v-card-text class="mt-12">
                                            <h1 class="text-center display-2 white--text text--white">Delivery Details</h1>
                                            <v-form ref="form">
                                                <v-text-field
                                                    v-model="delivery.apartmentNumber"
                                                    label="Apartment Number"
                                                    name="Apartment Number"
                                                    prepend-icon="person"
                                                    type="text"
                                                    color="white"
                                                />
                                                <v-text-field
                                                    v-model="delivery.street"
                                                    label="Street"
                                                    name="Street"
                                                    prepend-icon="person"
                                                    type="text"
                                                    color="white"
                                                />
                                                <v-text-field
                                                    v-model="delivery.postcode"
                                                    label="Postcode"
                                                    name="Postcode"
                                                    prepend-icon="person"
                                                    type="text"
                                                    color="white"
                                                />
                                                <v-card-actions>
                                                    <v-btn color="white" style="color:#008080" @click="step = 2">
                                                        Edit order
                                                    </v-btn>
                                                    <v-spacer></v-spacer>
                                                    <span style="color: white; margin-top: 5px">ORDER PRICE: {{this.orderPrice}} €</span>
                                                    <v-spacer></v-spacer>
                                                    <v-btn color="white"  style="color:#008080" @click=pay>
                                                        Confirm order
                                                    </v-btn>
                                                </v-card-actions>
                                            </v-form>
                                        </v-card-text>
                                    </v-card>
                                </v-col>
                            </v-row>
                        </v-container>
                    </v-window-item>
                </v-window>
                <v-dialog
                    v-model="showSuccess"
                    width="500"
                >
                    <v-alert class="mb-0" color="teal accent-3"
                             v-model="showSuccess"
                             type="success"
                             dismissible>
                        Order confirmed!
                    </v-alert>
                </v-dialog>
                <v-dialog
                    v-model="showError"
                    width="500"
                    persistent
                >
                    <v-alert
                        style="margin-bottom: 0;"
                        v-model="showError"
                        dismissible
                        class="font-weight-bold"
                        type="error"
                        icon="mdi-alert">
                        {{ error }}
                    </v-alert>
                </v-dialog>
            </v-img>
        </v-content>
    </v-app>
</template>
<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator'
    import { IRestaurantDTO } from "@/domain/IRestaurantDTO";
    import { IFoodCategoryDTO } from "@/domain/IFoodCategoryDTO";
    import { CategoryApi } from '@/services/CategoryApi.ts'
    import { IDrinkCategoryDTO } from "@/domain/IDrinkCategoryDTO";
    import { IFoodDTO } from "@/domain/IFoodDTO";
    import { IDrinkDTO } from "@/domain/IDrinkDTO";
    import { IFoodItemDTO } from "@/domain/IFoodItem";
    import { IDrinkItemDTO } from "@/domain/IDrinkItemDTO";
    import { IDeliveryCreateDTO } from "@/domain/IDeliveryCreateDTO";
    import { OrderApi } from "@/services/OrderApi";
    import { IOrderInfoDTO } from "@/domain/IOrderInfoDTO";

    @Component
    export default class RestaurantsIndex extends Vue {
        private drinkCategories: IDrinkCategoryDTO[] = [];

        private foodCategories: IFoodCategoryDTO[] = [];

        private foodInCategory: IFoodDTO[][] = [];

        private drinkInCategory: IDrinkDTO[][] = [];

        private delivery: IDeliveryCreateDTO = {} as IDeliveryCreateDTO

        private restaurant: IRestaurantDTO = {} as IRestaurantDTO

        private orderPrice = 0.0;

        private step = 1;

        private submited = false;

        private tab: any = null;

        private tabDrink: any = null;

        private tabFood: any = null;

        private orderFoodItems: IFoodItemDTO[] = []

        private orderDrinkItems: IDrinkItemDTO[] = []

        private error = ""

        private showError = false

        private showSuccess = false

        async beforeCreate(): Promise<void> {
            await this.$store.dispatch('getRestaurants')

            await CategoryApi.getAllFoodCategory().then(response => {
                this.foodCategories = response
            })

            await CategoryApi.getAllDrinkCategory().then(response => {
                this.drinkCategories = response
            })
        }

        private get binding() {
            const binding: { [key: string]: boolean } = {}

            if (this.$vuetify.breakpoint.mdAndUp) binding.row = true
            else binding.column = true

            return binding;
        }

        reviewsOfRestaurant(id: string): string {
            return '/restaurant/' + id;
        }

        menuOfRestaurant(restaurant: IRestaurantDTO): void {
            if (this.$store.getters.isAuthenticated) {
                this.step = 2;
                this.restaurant = restaurant
                this.foodInCategory = []
                this.drinkInCategory = []
                for (const category of this.foodCategories) {
                    const foods = [];
                    for (const food of this.restaurant.foods) {
                        if (food.foodCategory.id === category.id) {
                            foods.push(food)
                        }
                    }
                    this.foodInCategory.push(foods)
                }
                for (const category of this.drinkCategories) {
                    const drinks = [];
                    for (const drink of this.restaurant.drinks) {
                        if (drink.drinkCategory.id === category.id) {
                            drinks.push(drink)
                        }
                    }
                    this.drinkInCategory.push(drinks)
                }
            } else {
                this.$router.push({ name: 'register' });
            }
        }

        get restaurants(): IRestaurantDTO[] {
            return this.$store.state.restaurants;
        }

        private clearOrder(): void {
            this.step = 1
            this.orderFoodItems = []
            this.orderDrinkItems = []
            this.orderPrice = 0.0
        }

        private getIFoodCount(id: string): number {
            for (let i = 0; i < this.orderFoodItems.length; i++) {
                const orderItem = this.orderFoodItems[i];
                if (orderItem.food.id === id) {
                    return orderItem.quantity;
                }
            }
            return 0;
        }

        private addFood(item: IFoodDTO): void {
            let wasIncremented = false;
            for (let i = 0; i < this.orderFoodItems.length; i++) {
                const orderItem = this.orderFoodItems[i];
                if (orderItem.food.id === item.id) {
                    wasIncremented = true;
                    if (orderItem.quantity < 5) {
                        this.orderPrice += this.priceParse(item.price);
                        orderItem.quantity += 1
                    }
                    break;
                }
            }
            if (!wasIncremented) {
                this.orderFoodItems.push({ food: item, quantity: 1 })
                this.orderPrice += this.priceParse(item.price);
            }
        }

        private removeFood(item: any): void {
            for (let i = 0; i < this.orderFoodItems.length; i++) {
                if (this.orderFoodItems[i].food.id === item.id) {
                    this.orderFoodItems[i].quantity -= 1;
                    this.orderPrice -= this.priceParse(this.orderFoodItems[i].food.price)
                    if (this.orderFoodItems[i].quantity === 0) {
                        this.orderFoodItems.splice(i, 1);
                        break
                    }
                }
            }
        }

        private addDrink(item: IDrinkDTO): void {
            let wasIncremented = false;
            for (let i = 0; i < this.orderDrinkItems.length; i++) {
                const orderItem = this.orderDrinkItems[i];
                if (orderItem.drink.id === item.id) {
                    wasIncremented = true;
                    if (orderItem.quantity < 5) {
                        this.orderPrice += this.priceParse(item.price);
                        orderItem.quantity += 1
                    }
                    break;
                }
            }
            if (!wasIncremented) {
                this.orderDrinkItems.push({ drink: item, quantity: 1 })
                this.orderPrice += this.priceParse(item.price);
            }
        }

        private removeDrink(item: IDrinkDTO): void {
            for (let i = 0; i < this.orderDrinkItems.length; i++) {
                if (this.orderDrinkItems[i].drink.id === item.id) {
                    this.orderDrinkItems[i].quantity -= 1;
                    this.orderPrice -= this.priceParse(this.orderDrinkItems[i].drink.price)
                    if (this.orderDrinkItems[i].quantity === 0) {
                        this.orderDrinkItems.splice(i, 1);
                        break
                    }
                }
            }
        }

        private getDrinkCount(id: string): number {
            for (let i = 0; i < this.orderDrinkItems.length; i++) {
                const orderItem = this.orderDrinkItems[i];
                if (orderItem.drink.id === id) {
                    return orderItem.quantity;
                }
            }
            return 0;
        }

        private pay(): void {
            if (!this.submited) {
                this.submited = true;
                const orderInfoDTO = {
                    Delivery: this.delivery,
                    price: this.orderPrice.toString(),
                    Restaurant: this.restaurant,
                    FoodItems: this.orderFoodItems,
                    DrinkItems: this.orderDrinkItems
                } as IOrderInfoDTO

                OrderApi.confirmOrder(orderInfoDTO).then(() => {
                    this.showSuccess = true
                    setTimeout(() => this.$router.push({ name: 'orders' }), 1000)
                }).catch(error => console.log(error))
            }
        }

        private priceParse(price: string) {
            return parseFloat(price.replace(/[^0-9,.-]+/g, "").replace(',', '.'))
        }

        private validation() {
            if (this.orderDrinkItems.length > 0 || this.orderFoodItems.length > 0) {
                this.step = 3;
            } else {
                this.error = "Please, select an item!"
                this.showError = true
            }
        }
    }
</script>

<style>
    .v-image__image.v-image__image--cover {
    }
</style>
