<template>
    <v-content style="height: 100%;background: url('https://images6.alphacoders.com/940/thumb-1920-940003.jpg')">
        <v-card class="d-inline-block mx-auto mt-8">
            <v-container style="padding-bottom: 0; padding-top: 0">
                <v-row style="margin: -12px -30px;">
                    <v-col style="flex: 1 0 auto;width: auto;max-width: 100%;">
                        <v-img height="100%" width="100%" max-width="361px" max-height="267px"
                               v-bind:src="restaurant.image"></v-img>
                    </v-col>
                    <v-col cols="auto" style="flex: 1 0 auto;">
                        <v-card-title>{{restaurant.name}}</v-card-title>
                        <v-card-text style="max-width:200px;max-height: 200px; text-align: left">
                            {{restaurant.description}}
                        </v-card-text>
                        <v-card-text>
                            <v-row align="center"
                                   class="mx-0">
                                <v-rating
                                    :value="restaurant.rating"
                                    color="amber"
                                    dense
                                    half-increments
                                    readonly
                                    size="14"
                                ></v-rating>
                                <div class="grey--text ml-4">{{restaurant.rating}}
                                    ({{restaurant.reviewCount}})
                                </div>
                            </v-row>
                        </v-card-text>
                        <v-divider class="mx-4"></v-divider>
                        <v-card-actions>
                            <v-btn color="deep-purple lighten-2" text @click="backToRestaurants">
                                Go back
                            </v-btn>
                            <v-btn color="deep-purple lighten-2" text @click="showMenu">
                                leave review
                            </v-btn>
                        </v-card-actions>
                    </v-col>
                </v-row>
            </v-container>
            <v-card class="mt-5" style="overflow-y: auto" max-height="300px">
                <div v-if="Array.isArray(restaurant.reviews) && restaurant.reviews.length" class="mt-1">Reviews</div>
                <div v-for="item in restaurant.reviews" :key="item.id">
                    <v-card
                        class="m-3"
                        color="#385F73"
                        dark>
                        <div v-if="check(item)">
                            <v-btn style="float: right; outline: none" color="white" icon @click="deleteReview(item)">
                                <v-icon>mdi-close</v-icon>
                            </v-btn>
                        </div>
                        <v-card-title>
                            <span>{{item.userName}}</span>
                            <v-spacer></v-spacer>
                            <v-rating
                                readonly
                                :value="item.rating"
                                color="amber"
                                dense
                                half-increments
                                size="14">
                            </v-rating>
                        </v-card-title>
                        <v-card-subtitle class="text-left" style="padding-bottom: 0">{{item.comment}}</v-card-subtitle>
                        <v-card-text class="text-right">{{new Date(item.createdAt).toLocaleDateString()}}</v-card-text>
                    </v-card>
                </div>
            </v-card>
            <v-dialog width="450" v-model="showReviewMenu">
                <v-card class="elevation-16 mx-auto">
                    <v-card-title
                        class="headline"
                        primary-title
                    >
                    </v-card-title>
                    Rate restaurant
                    <v-card-text>
                        <v-textarea
                            class="mt-2"
                            v-model="review.comment"
                            outlined
                            maxlength="250"
                            row-height="25"
                            counter
                            auto-grow
                            label="Leave your comment"
                        ></v-textarea>
                    </v-card-text>
                    <v-divider></v-divider>
                    <v-card-actions>
                        <div>
                            <v-rating
                                :large="$vuetify.breakpoint.smAndUp"
                                v-model="review.rating"
                                color="yellow darken-3"
                                background-color="grey darken-1"
                                hover
                            />
                        </div>
                        <v-spacer></v-spacer>
                        <v-btn
                            color="primary" @click="createReview">
                            Submit
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-card>
    </v-content>
</template>

<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator'
    import { IRestaurantReviewDTO } from "@/domain/IRestaurantReviewDTO";
    import { RestaurantApi } from "@/services/RestaurantApi";
    import { IReviewDTO } from "@/domain/IReviewDTO";
    import { ReviewApi } from "@/services/ReviewApi";

    @Component
    export default class ReviewsIndex extends Vue {
        private restaurant = {} as IRestaurantReviewDTO

        private showReviewMenu = false

        private userReviews = [] as IReviewDTO[]

        private review = {
            rating: 1
        } as IReviewDTO

        async beforeCreate(): Promise<void> {
            await RestaurantApi.get(this.$route.params.id).then(response => {
                this.restaurant = response
                if (this.$store.getters.isAuthenticated) {
                    ReviewApi.getUserReviews().then(response => {
                        this.userReviews = response
                    })
                }
            })
        }

        check(item: IReviewDTO) {
            for (let i = 0; i < this.userReviews.length; i++) {
                if (this.userReviews[i].id === item.id) {
                    return true;
                }
            }
            return false;
        }

        showMenu() {
            if (!this.$store.getters.isAuthenticated) {
                this.$router.push({ name: 'register' })
            } else {
                this.showReviewMenu = true
            }
        }

        async createReview(): Promise<void> {
            this.review.restaurantId = this.restaurant.id
            await ReviewApi.create(this.review).then(async () => {
                await RestaurantApi.get(this.$route.params.id).then(response => {
                    this.restaurant = response
                })
                await ReviewApi.getUserReviews().then(response => {
                    this.userReviews = response
                })
            })
            this.showReviewMenu = false
            this.review.comment = ""
            this.review.rating = 1;
        }

        backToRestaurants() {
            this.$router.push({ name: 'restaurants' })
        }

        async deleteReview(review: IReviewDTO): Promise<void> {
            await ReviewApi.delete(review.id).then(async () => {
               await RestaurantApi.get(this.$route.params.id).then(response => {
                    this.restaurant = response
                })
            })
        }
    }
</script>

<style scoped>

</style>
