<template>
    <h1>Food Details</h1>
    <div>
        <hr/>
        <dl class="row">
            <dt class="col-sm-2">
                Name
            </dt>
            <dd class="col-sm-10">
                ${_food.name}
            </dd>
            <dt class="col-sm-2">
                Price
            </dt>
            <dd class="col-sm-10">
                ${_food.price}
            </dd>
            <dt class="col-sm-2">
                Restaurant
            </dt>
            <dd class="col-sm-10">
                ${_food.restaurant.name}
            </dd>
            <dt class="col-sm-2">
                Category
            </dt>
            <dd class="col-sm-10">
                ${_food.foodCategory.category}
            </dd>
        </dl>
    </div>
    <div>
        <a route-href="route: food-edit; params.bind: { id : _food.id }">Edit</a> |
        <a route-href="route: food-index; params.bind: { }">Back to List</a>
    </div>

</template>
