<template>
    <require from="../../components/alert"></require>

    <alert alert-data.bind="_alert"></alert>

    <h1>Index Food</h1>

    <p>
        <a route-href="route: food-create; params.bind: {}">Create New</a>
    </p>

    <table class="table">
        <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Price
            </th>
            <th>
                Restaurant
            </th>
            <th>
                Category
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr repeat.for="food of _foods">
            <td>
                ${food.name}
            </td>
            <td>
                ${food.price}
            </td>
            <td>
                ${food.restaurant.name}
            </td>
            <td>
                ${food.foodCategory.category}
            </td>
            <td>
                <a route-href="route: food-edit; params.bind: { id: food.id }">Edit</a> |
                <a route-href="route: food-details; params.bind: { id: food.id }">Details</a> |
                <a route-href="route: food-delete; params.bind: { id: food.id }">Delete</a>
            </td>

        </tr>
        </tbody>
    </table>
</template>
