<template>
    <require from="../../components/alert"></require>

    <alert alert-data.bind="_alert"></alert>

    <h1>Create Drink</h1>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form submit.trigger="onSubmit($event)">
                <div class="form-group">
                    <label class="control-label" for="Name">Name</label>
                    <input class="form-control" type="text" id="Name" maxlength="64" value.bind="_name" />
                </div>
                <div class="form-group">
                    <label class="control-label" for="Description">Price</label>
                    <input class="form-control" pattern="^[0-9]+(\.[0-9]{1,2})?$" type="text" id="Description" maxlength="64" value.bind="_price" />
                </div>
                <div class="form-group">
                    <label for="restaurantSelect">Restaurant</label>
                    <select value.bind="_restaurant" class="form-control" id="restaurantSelect">
                        <option repeat.for="restaurant of _restaurants" model.bind="restaurant">
                            ${restaurant.name}
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="restaurantSelect">Drink Categories</label>
                    <select value.bind="_category" class="form-control" id="categorySelect">
                        <option repeat.for="category of _drinkCategories" model.bind="category">
                            ${category.category}
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a route-href="route: restaurants-index; params.bind: { }">Back to List</a>
    </div>

</template>
