<template>
    <require from="../../components/alert"></require>

    <alert alert-data.bind="_alert"></alert>

    <h1>Delete</h1>

    <h3>Are you sure you want to delete this drink?</h3>
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Name
            </dt>
            <dd class="col-sm-10">
                ${_drink.name}
            </dd>
            <dt class="col-sm-2">
                Price
            </dt>
            <dd class="col-sm-10">
                ${_drink.price}
            </dd>
            <dt class="col-sm-2">
                Restaurant
            </dt>
            <dd class="col-sm-10">
                ${_drink.restaurant.name}
            </dd>
            <dt class="col-sm-2">
                Category
            </dt>
            <dd class="col-sm-10">
                ${_drink.drinkCategory.category}
            </dd>
        </dl>

        <form submit.trigger="onSubmit($event)">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a route-href="route: drinks-index; params.bind: { }">Back to List</a>
        </form>

    </div>
</template>
