<template>
    <h1>Drink Details</h1>
    <div>
        <hr/>
        <dl class="row">
            <dt class="col-sm-2">
                Name
            </dt>
            <dd class="col-sm-10">
                ${_drink.name}
            </dd>
            <dt class="col-sm-2">
                Price
            </dt>
            <dd class="col-sm-10">
                ${_drink.price}
            </dd>
            <dt class="col-sm-2">
                Restaurant
            </dt>
            <dd class="col-sm-10">
                ${_drink.restaurant.name}
            </dd>
            <dt class="col-sm-2">
                Category
            </dt>
            <dd class="col-sm-10">
                ${_drink.drinkCategory.category}
            </dd>
        </dl>
    </div>
    <div>
        <a route-href="route: drinks-edit; params.bind: { id : _drink.id }">Edit</a> |
        <a route-href="route: drinks-index; params.bind: { }">Back to List</a>
    </div>

</template>
