<template>
    <require from="../../components/alert"></require>

    <alert alert-data.bind="_alert"></alert>

    <h1>Edit Drink</h1>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form submit.trigger="onSubmit($event)">
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <input class="form-control" type="text" id="name" maxlength="64"
                           value.bind="_drink.name" />
                </div>
                <div class="form-group">
                    <label class="control-label" for="price">Price</label>
                    <input class="form-control" pattern="^[0-9]+(\.[0-9]{1,2})?$" type="text" id="price" maxlength="64"
                           value.bind="_drink.price" />
                </div>
                <div class="form-group">
                    <label for="restaurantSelect">Restaurant</label>
                    <select value.bind="_drink.restaurantId" class="form-control" id="restaurantSelect">
                        <option repeat.for="restaurant of _restaurants" model.bind="restaurant.id">
                            ${restaurant.name}
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="restaurantSelect">Drink Categories</label>
                    <select value.bind="_drink.drinkCategoryId" class="form-control" id="categorySelect">
                        <option repeat.for="category of _drinkCategories" model.bind="category.id">
                            ${category.category}
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a route-href="route: drinks-index; params.bind: { }">Back to List</a>
    </div>

</template>
