<template>
    <require from="../../components/alert"></require>

    <alert alert-data.bind="_alert"></alert>

    <h1>Index Drinks</h1>

    <p>
        <a route-href="route: drinks-create; params.bind: {}">Create New</a>
    </p>

    <table class="table">
        <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Price
            </th>
            <th>
                Restaurant
            </th>
            <th>
                Category
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr repeat.for="drink of _drinks">
            <td>
                ${drink.name}
            </td>
            <td>
                ${drink.price}
            </td>
            <td>
                ${drink.restaurant.name}
            </td>
            <td>
                ${drink.drinkCategory.category}
            </td>
            <td>
                <a route-href="route: drinks-edit; params.bind: { id: drink.id }">Edit</a> |
                <a route-href="route: drinks-details; params.bind: { id: drink.id }">Details</a> |
                <a route-href="route: drinks-delete; params.bind: { id: drink.id }">Delete</a>
            </td>

        </tr>
        </tbody>
    </table>
</template>
