<template>
    <v-content style="height: 100%;background: url('https://images6.alphacoders.com/940/thumb-1920-940003.jpg')">
        <v-container class="mt-10" fluid>
            <v-row align="center" justify="center">
                <v-col cols="12" sm="8" md="8">
                    <v-card class="elevation-12">
                        <login-page></login-page>
                    </v-card>
                </v-col>
            </v-row>
        </v-container>
    </v-content>
</template>

<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator'

    @Component({
        components: {
            'login-page': () => import('@/components/Login.vue')
        }
    })
    export default class Login extends Vue {
    }
</script>
<style>
</style>
