*, *::after, *::before{
    box-sizing: border-box;
}
:root{
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size)*.9);
}
body{
    margin: 0;
}
.gameType {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
    flex-direction: column;
}
.gameType button{
    width: 20%;
}
.turnActions{border: 5px solid #900;

    width: 600px;
    height: 150px;
    position: absolute;
    top: 2%;
    left: 30%;
    border-bottom: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    padding: 2.5rem;

}
.board {
    width: 600px;
    height: 600px;
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    grid-template-columns: repeat(6, auto);
    position: absolute;
    left: 30%;
    top: 15%;
}

.cell,
.cell:hover {
    cursor: pointer;
    width: var(--cell-size);
    height: var(--cell-size);
    background-color: gray;
    border: 1.2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell.blue::before,
.cell.blue::after,
.board.blue .cell:not(.red):not(.blue):hover::before,
.board.blue .cell:not(.red):not(.blue):hover::after{
    content: '';
    position: absolute;
    width: calc(var(--mark-size));
    height: var(--mark-size);
    background-color: blue;
}
.cell.red.choosen::before,
.cell.red.choosen::after{
    content: '';
    position: absolute;
    width: calc(var(--mark-size));
    height: var(--mark-size);
    background-color: #ff6d75;
}
.cell.blue.choosen::before,
.cell.blue.choosen::after
{
    content: '';
    position: absolute;
    width: calc(var(--mark-size));
    height: var(--mark-size);
    background-color: #508aff;
}
.cell.red::before,
.cell.red::after,
.board.red .cell:not(.red):not(.blue):hover::before,
.board.red .cell:not(.red):not(.blue):hover::after{
    content: '';
    position: absolute;
    width: calc(var(--mark-size));
    height: var(--mark-size);
    background-color: red;
}

.cell.green::before,
.cell.green::after{
    content: '';
    position: absolute;
    width: calc(var(--mark-size));
    height: var(--mark-size);
    background-color: limegreen;
}
.winning-message {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .9);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
    flex-direction: column;
}
.gameType {
    display: flex;
    position: fixed;
    background-color: gray;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
    flex-direction: column;
}
.gameType button{
    margin: 0.5rem 0;
    font-size: 2rem;
    background-color: white;
    border: 1px solid black;
    padding: .25em .5em;
    cursor: pointer;
}
.back button{
    float: right;
    margin: 0.5rem 0;
    font-size: 2rem;
    background-color: white;
    border: 1px solid black;
    padding: .25em .5em;
    cursor: pointer;
}
.skip button{
    margin: 0.5rem 0;
    font-size: 2rem;
    background-color: white;
    border: 1px solid black;
    padding: .25em .5em;
    cursor: pointer;
}
.turnActions.hide{
    display: none;
}
.back.hide{
    display: none}
.skip.hide {
    display: none;
}
.back button:hover, .skip button:hover{
    background-color: black;
    color: white;
    border-color: white;
}
.gameType button:hover{
    background-color: black;
    color: white;
    border-color: white;
}
.winning-message button {
    font-size: 3rem;
    background-color: white;
    border: 1px solid black;
    padding: .25em .5em;
    cursor: pointer;
}
.winning-message button:hover {
    background-color: black;
    color: white;
    border-color: white;
}
.winning-message.show {
    display: flex;
}
.board.hide {
    display: none;
}
.gameType.hide {
    display: none;
}