<template>


    <h1>Log in</h1>
    <div class="row">
        <div class="col-md-6">
            <section>
                <form id="account" method="post" submit.trigger="onSubmit($event)">
                    <h4>Use a local account to log in.</h4>
                    <h4 if.bind="_errorMessage != null" style="color:red;">${_errorMessage}</h4>
                    <hr />
                    <div class="form-group">
                        <label for="Input_Email">Email</label>
                        <input class="form-control"  id="Input_Email" type="email" value.bind="_email" />
                    </div>
                    <div class="form-group">
                        <label for="Input_Password">Password</label>
                        <input class="form-control" id="Input_Password" type="password" value.bind="_password" />
                    </div>

                    <!--
                    <div class="form-group">
                        <div class="checkbox">
                            <label for="Input_RememberMe">
                                <input type="checkbox" id="Input_RememberMe"
                                    name="Input.RememberMe" value="true" />
                                Remember me?
                            </label>
                        </div>
                    </div>
                    -->
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Log in</button>
                    </div>
                    <div class="form-group">
                        <p>
                            <a id="forgot-password" href="/Identity/Account/ForgotPassword">Forgot your password?</a>
                        </p>
                        <p>
                            <a href="/Identity/Account/Register?returnUrl=%2F">Register as a new user</a>
                        </p>
                    </div>
                </form>
            </section>
        </div>

    </div>
</template>
