<template>
    <h1>Register</h1>

    <div class="row">
        <div class="col-md-4">
            <form id="account" method="post" submit.trigger="onSubmit($event)">
                <h4>Create a new account.</h4>
                <hr/>
                <div class="text-danger validation-summary-valid" data-valmsg-summary="true"><ul><li style="display:none"></li>
                </ul></div>
                <div class="form-group">
                    <label>Email</label>
                    <input class="form-control" required type="email" value.bind="_credentials.email"/>
                </div>
                <div class="form-group">
                    <label>First name</label>
                    <input class="form-control" required type="text" pattern="^[a-zA-Z]+$"
                           title="Use only alphabetical characters." value.bind="_credentials.firstName"/>
                </div>
                <div class="form-group">
                    <label>Last name</label>
                    <input class="form-control" required type="text" pattern="^[a-zA-Z]+$"
                           title="Use only alphabetical characters." value.bind="_credentials.lastName"/>
                </div>
                <div class="form-group">
                    <label for="Input_Birthday">Birthday</label>
                    <input class="form-control" type="date" data-val="true" data-val-required="The Birthday field is required." id="Input_Birthday" name="Input.Birthday" value="" />
                    <span class="text-danger field-validation-valid" data-valmsg-for="Input.Birthday" data-valmsg-replace="true"></span>
                </div>
                <div class="form-group">
                    <label for="Input_Telephone">Phone number</label>
                    <input class="form-control" type="tel" data-val="true" data-val-phone="The Phone number field is not a valid phone number." data-val-required="The Phone number field is required." id="Input_Telephone" name="Input.Telephone" value="" />
                    <span class="text-danger field-validation-valid" data-valmsg-for="Input.Telephone" data-valmsg-replace="true"></span>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input class="form-control" required type="password"
                           title="Password has to contain one upper case letter and one number and be longer than 6 symbols."
                           value.bind="_credentials.password"/>
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
                <input name="__RequestVerificationToken" type="hidden" value="CfDJ8EbfOjGNL9JJp728C8YKwssQR0pKELhFjddDRdLwgR7wC0J6dLGDT84nFazG2Y1P9X-jS2Tt76O7Z-r6V2FvU5_p9otOtPgCCgZjQlw-oEPvqjjBzxyavo3tA17yLkAPAfYjZyfoxnjbNBjSAas9pDA" /></form>
        </div>
    </div>
</template>
