<template>
    <v-content>
        <v-window vertical v-model="step">
            <v-window-item :value="1">
                <v-row class="fill-height">
                    <v-col cols="12" md="8">
                        <v-card-text class="mt-12">
                            <h2 class="text-center teal--text text--accent-3">Sign in
                                to Food Delivery</h2>
                            <v-form v-model="isFormValid">
                                <v-text-field
                                    v-model="loginInfo.Email"
                                    label="E-mail"
                                    clearable
                                    error-count="2"
                                    :rules="[]"
                                    prepend-icon="email"
                                    type="text"
                                    color="teal accent-3"
                                />
                                <v-text-field
                                    v-model="loginInfo.Password"
                                    :rules="[]"
                                    :append-icon="showPassword ? 'mdi-eye-off' : 'mdi-eye'"
                                    :type="showPassword ? 'text' : 'password'"
                                    label="Password"
                                    error-count="1"
                                    @click:append="showPassword = !showPassword"
                                    prepend-icon="lock"
                                    color="teal accent-3"
                                />
                                <v-alert
                                    v-model="showError"
                                    dismissible
                                    dense
                                    class="font-weight-bold"
                                    type="error"
                                    icon="mdi-alert">
                                    {{ error }}
                                </v-alert>
                                <v-btn style="outline: none" rounded color="teal accent-3" dark
                                       :loading="btnLoad"
                                       :disabled="btnLoad"
                                       :class="{'disable-events': !isFormValid}"
                                       @click="loginOnClick"
                                >
                                    SIGN IN
                                    <template v-slot:loader>
                                        <v-progress-circular indeterminate
                                                             color="teal accent-3">
                                        </v-progress-circular>
                                    </template>
                                </v-btn>
                            </v-form>
                        </v-card-text>
                    </v-col>
                    <v-col cols="12" md="4" class="teal accent-3" style="border-radius: 4px">
                        <v-card-text class="white--text mt-12">
                            <h4 class="text-center">Hello, Friend!</h4>
                            <h6 class="text-center">Haven't registered yet?</h6>
                        </v-card-text>
                        <div class="text-center">
                            <v-btn style="outline: none" rounded outlined="" dark
                                   @click="toRegMenu">SIGN UP
                            </v-btn>
                        </div>
                    </v-col>
                </v-row>
            </v-window-item>
            <v-window-item :value="2">
                <v-row class="fill-height">
                    <v-col cols="12" md="4" class="teal accent-3" style="border-radius: 4px">
                        <v-card-text class="white--text mt-12">
                            <h4 class="text-center">Welcome back,</h4>
                            <p class="text-center">Sign in now to start ordering!</p>
                        </v-card-text>
                        <div class="text-center">
                            <v-btn style="outline: none" rounded outlined dark
                                   @click="toLoginMenu">SIGN IN
                            </v-btn>
                        </div>
                    </v-col>
                    <v-col cols="12" md="8">
                        <v-card-text class="mt-12">
                            <h1 class="text-center display-2 teal--text text--accent-3">Create
                                Account</h1>
                            <v-form ref="form">
                                <v-text-field
                                    v-model="regInfo.Email"
                                    label="E-mail"
                                    name="email"
                                    prepend-icon="person"
                                    type="text"
                                    color="teal accent-3"
                                    :rules="EmailRules"
                                />
                                <v-text-field
                                    v-model="regInfo.FirstName"
                                    label="First Name"
                                    name="Name"
                                    prepend-icon="person"
                                    type="text"
                                    color="teal accent-3"
                                    :rules="firstNameRules"
                                />
                                <v-text-field
                                    v-model="regInfo.LastName"
                                    label="Last Name"
                                    name="LastName"
                                    prepend-icon="person"
                                    type="text"
                                    color="teal accent-3"
                                    :rules="lastNameRules"
                                />
                                <v-text-field
                                    v-model="regInfo.Password"
                                    label="Password"
                                    name="Password"
                                    prepend-icon="lock"
                                    type="password"
                                    color="teal accent-3"
                                    :rules="PasswordRules"
                                />
                                <v-dialog
                                    ref="dialog"
                                    v-model="modal"
                                    :return-value.sync="regInfo.Birthday"
                                    persistent
                                    width="290px"
                                    color="teal accent-3">
                                    required
                                    <template v-slot:activator="{ on }">
                                        <v-text-field
                                            v-model="date"
                                            label="Birthdate"
                                            prepend-icon="event"
                                            readonly
                                            v-on="on"
                                        ></v-text-field>
                                    </template>
                                    <v-date-picker class="teal accent-3"
                                                   color="rgb(29, 233, 182)" v-model="date"
                                                   scrollable>
                                        <v-spacer></v-spacer>
                                        <v-btn text color="white" @click="modal = false">
                                            Cancel
                                        </v-btn>
                                        <v-btn text color="white"
                                               @click="$refs.dialog.save(date)">
                                            OK
                                        </v-btn>
                                    </v-date-picker>
                                </v-dialog>
                                <v-text-field
                                    v-model="regInfo.PhoneNumber"
                                    label="Telephone"
                                    name="Telephone"
                                    prepend-icon="phone"
                                    type="text"
                                    color="teal accent-3"
                                    :rules="telephoneRules"
                                />
                                <v-btn style="outline: none" rounded color="teal accent-3" dark
                                       :loading="btnLoad"
                                       :disabled="btnLoad"
                                       :class="{'disable-events': !isFormValid}"
                                       @click="regOnClick"
                                >
                                    SIGN UP
                                    <template v-slot:loader>
                                        <v-progress-circular indeterminate
                                                             color="teal accent-3">
                                        </v-progress-circular>
                                    </template>
                                </v-btn>
                            </v-form>
                        </v-card-text>
                    </v-col>
                </v-row>
            </v-window-item>
        </v-window>
        <v-dialog
            v-model="showSuccess"
            width="500"
        >
            <v-alert class="mb-0" color="teal accent-3"
                v-model="showSuccess"
                type="success"
                dismissible>
                Successfully registered!
            </v-alert>
        </v-dialog>
    </v-content>
</template>

<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator'
    import { ILoginDTO } from '@/types/ILoginDTO'
    import router from '@/router';
    import store from '@/store'
    import { IRegisterDTO } from "@/types/IRegisterDTO";

    @Component
    export default class Login extends Vue {
        private loginInfo: ILoginDTO = {
            Email: '',
            Password: ''
        };

        private regInfo: IRegisterDTO = {
            Email: '',
            FirstName: '',
            LastName: '',
            PhoneNumber: '',
            Birthday: new Date(),
            Password: ''
        };

        telephoneRules = [
            (v: any) => !!v || 'Telephone is required',
            (v: any) => (v && v.length >= 6 && v.length <= 20) || 'The telephone must contain between 6 and 20 characters',
            (v: any) => /^[0-9]+$/.test(v) || 'Telephone must be valid'
        ];

        firstNameRules = [
            (v: any) => !!v || 'First name is required',
            (v: any) => (v && v.length >= 1 && v.length <= 20) || 'The first name must contain between 1 and 20 characters'
        ];

        lastNameRules = [
            (v: any) => !!v || 'Last name is required',
            (v: any) => (v && v.length >= 1 && v.length <= 20) || 'The last name must contain between 1 and 20 characters'
        ];

        EmailRules = [
            (v: any) => !!v || 'E-mail is required',
            (v: any) => /.+@.+\..+/.test(v) || 'E-mail must be valid'
        ];

        PasswordRules = [
            (v: any) => !!v || 'Password is required',
            (v: any) => (v && v.length >= 6) || 'Password must have 6+ characters',
            (v: any) => /(?=.*[A-Z])/.test(v) || 'Must have one uppercase character',
            (v: any) => /(?=.*[a-z])/.test(v) || 'Must have one lowercase character',
            (v: any) => /(?=.*\d)/.test(v) || 'Must have one number',
            (v: any) => /([!@$%.])/.test(v) || 'Must have one special character [!@#$%.]'
        ];

        date = '';

        modal = false;

        private error = '';

        private showSuccess = false;

        private showPassword = false;

        private isFormValid = false;

        private showError = false;

        private btnLoad = false;

        private step = 1;

        toRegMenu(): void {
            this.step++;
            this.error = '';
            this.showError = false;
            this.loginInfo.Email = '';
            this.loginInfo.Password = '';
        }

        toLoginMenu(): void {
            this.regInfo = {
                Email: '',
                FirstName: '',
                LastName: '',
                PhoneNumber: '',
                Birthday: new Date(),
                Password: ''
            };
            this.step--;
            this.date = '';
            (this.$refs.form as Vue & { resetValidation: () => boolean }).resetValidation()
        }

        regOnClick(): void {
            if ((this.$refs.form as Vue & { validate: () => boolean }).validate()) {
                this.btnLoad = true;
                store.dispatch("registerUser", this.regInfo)
                    .then(() => {
                        this.showSuccess = true;
                        setTimeout(() => this.toLoginMenu(), 1200)
                        setTimeout(() => {
                            this.showSuccess = false
                        }, 1200);
                        setTimeout(() => {
                            this.btnLoad = false
                        }, 700);
                    }).catch(error => {
                    this.btnLoad = false;
                    this.showError = true;
                    this.error = error.toString();
                })
            }
        }

        loginOnClick(): void {
            this.btnLoad = true;
            store.dispatch("authenticateUser", this.loginInfo)
                .then(() => {
                    router.push({ name: 'restaurants' });
                })
                .catch(error => {
                    this.btnLoad = false;
                    this.showError = true;
                    this.error = error.toString();
                });
        }
    }
</script>
<style>
    .v-parallax__image-container {
        filter: blur(4px);
    }

    .row.fill-height {
        margin-left: 0;
        margin-right: 0;
    }
</style>
