<template>
    <v-toolbar fixed :dense="isLoggedIn" class="teal accent-3 white--text">
        <router-link :to="{ name: 'restaurants' }">
            <v-toolbar-title>
                <v-btn text :class="{'mt-3': isLoggedIn}" class="white--text font-weight-bold">
                    Restaurants
                </v-btn>
            </v-toolbar-title>
        </router-link>
        <v-spacer></v-spacer>

        <v-toolbar-items v-if="!isLoggedIn">
            <router-link :to="{ name: 'register' }">
                <v-btn text class="white--text mt-3">
                    <v-icon class="mr-2">mdi-account-plus</v-icon>
                    Sign up
                </v-btn>
            </router-link>
        </v-toolbar-items>

        <v-toolbar-items v-if="isLoggedIn">
            <a>
                <v-btn text class="white--text mt-3" @click="logout">
                    <v-icon class="mr-2">mdi-logout</v-icon>
                    Sign out
                </v-btn>
            </a>
        </v-toolbar-items>

        <template v-if="isLoggedIn" v-slot:extension>
            <v-toolbar-items>
                <router-link :to="{ name: 'orders' }">
                    <v-btn text class="white--text mt-2">
                        Orders
                    </v-btn>
                </router-link>
                <div v-if="isAdmin">
                    <router-link :to="{ name: 'deliveries' }">
                        <v-toolbar-title>
                            <v-btn text class="white--text mt-2">
                                Deliveries
                            </v-btn>
                        </v-toolbar-title>
                    </router-link>
                </div>
            </v-toolbar-items>
        </template>
    </v-toolbar>
</template>

<script lang="ts">
    import { Component, Vue } from "vue-property-decorator";
    import store from "@/store";
    import JwtDecode from "jwt-decode";

    @Component({
        computed: {
            isAdmin() {
                if (store.state.jwt) {
                    const decoded = JwtDecode(store.state.jwt) as Record<string, string[]>;
                    if (decoded["http://schemas.microsoft.com/ws/2008/06/identity/claims/role"].includes("Admin")) {
                        return true
                    }
                }
                return false;
            },
            isLoggedIn() {
                return this.$store.getters.isAuthenticated;
            }
        }
    })
    export default class Navbar extends Vue {
        private logout(): void {
            this.$store.dispatch("clearJwt");
            this.$router.push({ name: "register" });
        }
    }
</script>

<style scoped>
a {text-decoration: none}
</style>
