<template>
    <v-container grid-list-xl class="mt-10">
        <v-data-table
            :headers="headers"
            :items="orders"
            item-key="name"
            class="elevation-1"
            disable-sort
        >
            <template v-slot:item.date="{ item }">
                <span>{{ new Date(item.date).toLocaleDateString() }}</span>
            </template>
            <template v-slot:item.details="{item}">
                <v-btn @click="select(item)">
                    Details
                </v-btn>
            </template>
        </v-data-table>
        <v-dialog width="350"
                  v-model="dialog">
            <v-card style="overflow-x: hidden;">
                <v-row style="text-align: justify">
                    <v-col cols="12" class="ml-4" v-for="item in currentlySelected.foods" :key="item.id">
                        <div>{{item.food.name}} x{{item.quantity}}</div>
                    </v-col>
                    <v-col cols="12" class="ml-4" v-for="item in currentlySelected.drinks" :key="item.id">
                        <div>{{item.drink.name}} x{{item.quantity}}</div>
                    </v-col>
                </v-row>
            </v-card>
        </v-dialog>
    </v-container>
</template>

<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator'
    import { OrderApi } from "@/services/OrderApi";
    import { IOrderDTO } from "@/domain/IOrderDTO";

    @Component
    export default class OrderPage extends Vue {
        private orders: IOrderDTO[] = []
        private currentlySelected = {} as IOrderDTO
        private dialog = false
        private headers: object[] = [
            { text: 'Restaurants', value: 'restaurantName' },
            { text: 'Order number', value: 'orderNumber' },
            { text: 'Order price', value: 'orderPrice' },
            { text: 'Status', value: 'status' },
            { text: 'Date', value: 'date' },
            { text: 'Details', value: 'details' }
        ]

        select(item: any): void {
            this.dialog = true;
            this.currentlySelected = item
        }

        async beforeCreate(): Promise<void> {
            await OrderApi.getAll().then(response => {
                this.orders = response
            })
        }
    }
</script>

<style scoped>

</style>
